/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, em, img, small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, label, input, textarea, select, button,
table, caption, thead, tbody, tfoot, tr, th, td {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, audio, canvas, video { display: block; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: normal; }
address, cite, code, em, strong { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select, button { display: block; resize: none; }
img { display: block; max-width: 100%; }
html { height: 100%; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* clearfixes */
.clear:after,
.wrapper:after,
nav ul:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

/* styles */
body {
  background: #f2f2f2;
  color: #000;
  font: 14px/21px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover { color: #252525; }

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 93.75%;
}

nav {
    background-color: #000033;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0px 30px;
    padding-top: 10px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 2px;
}

nav > ul > li > a {
    color: #FFF;
    background-color:#000033;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #ff5722;
}

nav ul #search-bar {
    margin-left: 40px;
    display: inline-block;
    padding: 2px;
}

nav ul #search-button {
    display: inline-block;
    padding: 2px;
}

.logout, .login, .register {
    float: right;
}

#container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

.profile-badge {
    width: 100%;
}

.profile-badge img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-badge article {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-badge h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff5722;
    font-weight: 800;
    text-align: center;
}

.profile-badge p {
    text-align: center;
}


.pet-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.pet-container > h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff5722;
    font-weight: 600;
}

.pet-badge {
    background-color: #FFF;
    margin: 40px;
    position: relative;
    overflow: hidden;
    width: auto;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -mox-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.pet-badge img {
    width: 250px;
    float: left;
    margin: 0px 15px 0px 0px;
}

.pet-stats {
    float: left;
}

.pet-stats h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 15px;
}

.pet-stats p {
    margin: 10px;
}

.pet-editor-header,
.login-header,
.register-header {
  margin-bottom: 10px;
}

.pet-editor-header h1,
.login-header h1,
.register-header h1 {
  font-size: 2em;
  color: #ff5722;
  font-weight: 800;
}

.pet-editor-form h2,
.pet-editor-species h2,
.login-form h2,
.register-form h2 {
  font-size: 1.5em;

  color: #ff5722;
  font-weight: 800;
}

.pet-editor-form {
  background-color: #FFF;
  margin: 10px;
  width: 50%;
  padding: 15px;
  float: left;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.pet-editor-species {
  background-color: #FFF;
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 40%;
  padding: 15px;
  float: right;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.pet-editor-species h3 {
  font-size: 1.5em;
  padding-top: 15px;
  text-align: center;
}

.pet-editor-species img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.pet-stat-priority ol {
  list-style: decimal inside;
}

.login-form,
.register-form {
  background-color: #FFF;
  margin: 10px auto;
  width: 50%;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

/* Forms */
form {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ff5722;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea.form-control {
  height: auto;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #ff6f00);
    background-image: -moz-linear-gradient(top, #d93434, #ff6f00);
    background-image: -ms-linear-gradient(top, #d93434, #ff6f00);
    background-image: -o-linear-gradient(top, #d93434, #ff6f00);
    background-image: linear-gradient(to bottom, #d93434, #ff6f00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 150px;
}

.btn:hover {
  background: #ff6f00;
  background-image: -webkit-linear-gradient(top, #ff6f00, #d93434);
  background-image: -moz-linear-gradient(top, #ff6f00, #d93434);
  background-image: -ms-linear-gradient(top, #ff6f00, #d93434);
  background-image: -o-linear-gradient(top, #ff6f00, #d93434);
  background-image: linear-gradient(to bottom, #ff6f00, #d93434);
  text-decoration: none;
}

/* Text */
.small {
  font-size: 85%;
}

.text-error {
  color: #d91812;
}

/* retina device detection */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

}

/* media queries */
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 400px) {

}
