/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, em, img, small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, label, input, textarea, select, button,
table, caption, thead, tbody, tfoot, tr, th, td {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, audio, canvas, video { display: block; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: normal; }
address, cite, code, em, strong { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select, button { display: block; resize: none; }
img { display: block; max-width: 100%; }
html { height: 100%; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* clearfixes */
.clear:after,
.wrapper:after,
nav ul:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

/* styles */
body {
  background: #f2f2f2;
  color: #000;
  font: 14px/21px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover { color: #252525; }

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 93.75%;
}

nav {
    background-color: #000033;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0px 30px;
    padding-top: 10px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 2px;
}

nav > ul > li > a {
    color: #FFF;
    background-color:#000033;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #ff5722;
}

nav ul #search-bar {
    margin-left: 40px;
    display: inline-block;
    padding: 2px;
}

nav ul #search-button {
    display: inline-block;
    padding: 2px;
}

.logout, .login, .register {
    float: right;
}

#container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

.profile-badge {
    width: 100%;
}

.profile-badge img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-badge article {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-badge h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff5722;
    font-weight: 800;
    text-align: center;
}

.profile-badge p {
    text-align: center;
}


.pet-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.pet-container > h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff5722;
    font-weight: 600;
}

.pet-badge {
    background-color: #FFF;
    margin: 40px;
    position: relative;
    overflow: hidden;
    width: auto;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -mox-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.pet-badge img {
    width: 250px;
    float: left;
    margin: 0px 15px 0px 0px;
}

.pet-stats {
    float: left;
}

.pet-stats h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 15px;
}

.pet-stats p {
    margin: 10px;
}

.btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #ff6f00);
    background-image: -moz-linear-gradient(top, #d93434, #ff6f00);
    background-image: -ms-linear-gradient(top, #d93434, #ff6f00);
    background-image: -o-linear-gradient(top, #d93434, #ff6f00);
    background-image: linear-gradient(to bottom, #d93434, #ff6f00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 150px;
}

.btn:hover {
  background: #ff6f00;
  background-image: -webkit-linear-gradient(top, #ff6f00, #d93434);
  background-image: -moz-linear-gradient(top, #ff6f00, #d93434);
  background-image: -ms-linear-gradient(top, #ff6f00, #d93434);
  background-image: -o-linear-gradient(top, #ff6f00, #d93434);
  background-image: linear-gradient(to bottom, #ff6f00, #d93434);
  text-decoration: none;
}

/* retina device detection */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

}

#logo{
    font-size: 21px;
    text-align: center;
    height:250px;
    width:512px;
    margin: auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera >
                                     12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet
                                 Explorer */
    -o-animation: fadein 2s; /* Opera <
                                12.1 */
animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 350px -125px;
}
.text .content {
  display: inline;
}
.text .dash {
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: #3498db;
  animation: blink .3s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Recent User cards*/
.recent-user{
  width: 50%;
  float: left;
}

.recent-user-details-container {
  position: relative;
  width: 40%;
  float: right;
}

.recent-user-details-container h3 {
  padding-top: 15px;
  text-align: center;
}

.recent-user-details-container img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
/* media queries */
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 400px) {

}
