/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, em, img, small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, label, input, textarea, select, button,
table, caption, thead, tbody, tfoot, tr, th, td {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, audio, canvas, video { display: block; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: normal; }
address, cite, code, em, strong { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select, button { display: block; resize: none; }
img { display: block; max-width: 100%; }
html { height: 100%; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* clearfixes */
.clear:after,
.wrapper:after,
nav ul:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

/* styles */
body {
  background: #f2f2f2;
  color: #000;
  font: 14px/21px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover { color: #252525; }

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 93.75%;
}

nav {
    background-color: #000033;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0px 30px;
    padding-top: 10px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 2px;
}

nav > ul > li > a {
    color: #FFF;
    background-color:#000033;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #ff5722;
}

nav ul #search-bar {
    margin-left: 40px;
    display: inline-block;
    padding: 2px;
}

nav ul #search-button {
    display: inline-block;
    padding: 2px;
}

.logout {
    float: right;   
}

#container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
	position: relative;
}

#container h1 {
    font-size: 2em;   
    margin-bottom: 10px;
    color: #ff5722;
    font-weight: 800;
}

#container h2 {
    font-size: 1em;  
	margin-bottom: 5px;
    color: #ff5722;
    font-weight: 800;
}

.game_alert {
	text-align: center;
	font-size: 2em;   
    margin-bottom: 10px;
    color: #ff5722;
    font-weight: 400;
}

.game_alert strong {
	font-weight: 800;
}

.enemy-info {
    list-style: none;
}

.enemy_petimg {
    float: left;
}

.enemy_team {
	text-align: center;
	font-size: 14px;
}

.enemy_team img{
	padding: 5px;
	margin: 5px;
	background-color: #FFF;
    width: auto;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.enemy_stat {
	float: right;
	padding: 5px;
	margin: 40px;
	background-color: #FFF;
    width: auto;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.battlefield {
	position: relative;
	left: 0;
	top: 0;
}

.battlefield img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.player_actions {
	float: right;
	padding: 5px;
	margin: 40px;
	background-color: #FFF;
    width: auto;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.player_stats {
	float: left;
	padding: 5px;
	margin: 40px;
	background-color: #FFF;
    width: auto;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #ff6f00);
    background-image: -moz-linear-gradient(top, #d93434, #ff6f00);
    background-image: -ms-linear-gradient(top, #d93434, #ff6f00);
    background-image: -o-linear-gradient(top, #d93434, #ff6f00);
    background-image: linear-gradient(to bottom, #d93434, #ff6f00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	text-align: center;
    width: 175px;
}

.btn a {
	color: #ffffff;
}

.btn:hover {
  background: #ff6f00;
  background-image: -webkit-linear-gradient(top, #ff6f00, #d93434);
  background-image: -moz-linear-gradient(top, #ff6f00, #d93434);
  background-image: -ms-linear-gradient(top, #ff6f00, #d93434);
  background-image: -o-linear-gradient(top, #ff6f00, #d93434);
  background-image: linear-gradient(to bottom, #ff6f00, #d93434);
  text-decoration: none;
}

/* retina device detection */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

}

/* media queries */
@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 400px) {

}
